
body {
	/*background-color:#9CF;*/
	/*background-image:url(../images/heart-bg.gif);*/
	background-position:center 70px;
	background-repeat:no-repeat;
	background-attachment:scroll;
}


#wrapper {
	height:800px;
	/*width:auto;*/
}

#wrapper #gallery {
	width:720px;
	margin-left:auto;
	margin-right:auto;
	margin-top:75px;

}

#gallery .holder {
	width:180px;
	height:250px;
	/*background-image:url(../images/polaroid.png);*/
	float:left;
}

.holder .thumb {
	width:100px;
	height:120px;
	margin-top:29px;
	margin-left:43px;
	margin-right:42px;
}

.holder .title {
	width:190px;
	height:40px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-10px;
	overflow:hidden;
}

.title h3 {
	margin:0;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	overflow:hidden;
	color:#333;
	margin-left:80px;
}


.holder img {
	border:none;	
}


.clearFloat {
	clear:both;	
}


