.nav-wrapper {
	font: 13px "Futura Medium",verdana,"Myriad Pro",,"Gill Sans", Helvetica, Verdana, Arial, sans-serif;
	clear: both;	
	border: solid 0px #2da1a0;
	position:absolute;
	top:47px; 
	left:427px;
	padding: 0px;
}

.nav-wrapper-admin {
	font: 13px "Futura Medium",verdana, "Myriad Pro", "Gill Sans", Helvetica, Verdana, Arial, sans-serif;
	clear: both;	
	position: relative;
	top:3px; 
	left:25px;
	margin: 0px;
	padding: 0px;
}

.nav-wrapper a, .nav-wrapper-admin a{
	text-decoration: none;	
}
.nav {	
	left: 0px;	
	width: 600px;
	position: relative;
}

.nav ul {
	height: 30px;
	float: left;		
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 3px;	
	background: none;
	font-size: 13px;
}
.nav li {    
	float: left; margin: 0px;	
	padding: 0 7px;	
	position: relative;	
	top: 0px;
	left: 0px;
	z-index: 2 !important; list-style-image: none; 
	background: none;
	/*z-index: -1;*/
}
.nav li.last {
	background:none;	
}
.nav li:hover {
	/*z-index:2;*/
	z-index: 3 !important;
	
}
.nav li a {
	display: block;
	line-height: 38px;
	overflow: hidden;
	float: left;
	color: #0c9090;
}
a .menu-left {
	/* background: url(images/menu_left.gif) no-repeat left top; */
	width: 8px;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
}
a .menu-mid {
	background: url(/images/nav/menu_mid.gif) repeat-x top left;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
}
a .menu-right {
	/* background: url(images/menu_right.gif) no-repeat top left; */
	width: 8px;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
}
.nav li a:hover .menu-left,
.nav li.active a .menu-left,
.nav li:hover a .menu-left,
.nav li a:hover .menu-mid,
.nav li.active a .menu-mid,
.nav li:hover a .menu-mid,
.nav li a:hover .menu-right,
.nav li.active a .menu-right,
.nav li:hover a .menu-right {
	background-position: 0 -37px;
	line-height: 35px;
}
.nav li a:hover,
.nav li.active a,
.nav li.hover a,
.nav li:hover a {
	color: #09548B;
	background-color: Transparent;
}
.nav li:hover .sub,
.nav li.hover .sub,
.nav li:hover .sub_last,
.nav li.hover .sub_last {
	display:block;
}

.nav li .sub {
	display: none;
	position: absolute;
	top: 30px;
	left: 6px;
	background: url(/images/nav/submenu_top.png) no-repeat;
	width: 186px;
	padding-top: 9px;
}


.nav li .sub_last {
	display: none;
	position: absolute;
	top: 30px;
	left: -100px;
	background: url(/images/nav/submenu_top.png) no-repeat;
	width: 186px;
	padding-top: 9px;
}
.nav li ul {
	background: url(/images/nav/submenu_bg.png) repeat-y;
	width: 162px;
	height: auto;
	margin: 0;
	padding: 0 12px 10px;
	list-style: none;
}

.nav li:hover li,
.nav li.active li {
	width: 100%;
	padding: 1px 0 2px;
	border-bottom: 1px #C1D9F0 dashed;
	background: none !important;
}
.nav li:hover li a,
.nav li.active li a {
	color: #09548B;
	background: none !important;
	line-height: normal;
	width: 156px;
	padding: 8px 3px 3px;
	text-indent: 1px;
}
.nav li:hover li a:hover,
.nav li.active li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}
/*IE*/
.nav li li a:hover,
.nav li li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}
/**/
.nav .btm-bg {
	background: url(/images/nav/submenu_bottom.png) no-repeat;
	width: 205px;
	height: 9px;
	overflow: hidden;
	clear: both;
}
.content {
	width: 670px;
	background: transparent url(/images/nav/content_bg.png) repeat-y;
	float: left;
	padding: 10px 20px;
}
.content h1 {
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px dashed #C1D9F0;
}
.content h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: -5px;
}
.content p {
	padding: 0 15px;
	text-align: justify;	
}
.content-bottom {
	width: 710px;
	background: transparent url(/images/nav/content_bottom.png) no-repeat;
	height: 13px;
	float: left;
}