﻿#content1 { position:absolute; top:275px; right: 65px; width: 290px; border: solid 0px #000000; }

#middle-buttons { position:relative; top: 12px; border: solid 0px #000000; left: 26px; width: 957px;}

#lower-content { position:relative;top:14px; left:28px; width:948px; height:528px; background-image: url('/images/bg3.gif');  border: solid 0px #000000;}
#lower-content1 { position:absolute;top: 10px;left:13px;width:460px;height:174px;margin:0px; padding:12px; border: solid 0px #000000;}
#lower-content2 { position:absolute;top: 217px;left:13px;width:460px;height:252px;margin:0px; padding:12px; border: solid 0px #000000;}
#lower-content3 { position:absolute;top: 10px;left:507px;width:404px;height:457px;margin:0px; padding:12px; border: solid 0px #000000;}