﻿body { margin: 0px; font-family: Verdana; font-size: 10pt; }

a {color: #4c98a9;}

a:hover {color: #dd7b00;text-decoration: none; }

ul {
    margin: 0 0 0 0px;
    border: 0px solid #000;
    padding: 0 0 0 10px;
    line-height: 16px;
    min-width: 150px;
}

ul li {
   margin: 0 0 0 0px;
   list-style:none;
   padding: 0 0 6px 11px;
   line-height: 16px;
   border: 0px solid #000;
   background: url('/images/arr_gr_pad.gif') no-repeat top left;
}

#main-bg {width:100%; background: url(/images/bk.jpg) repeat-x; min-height:500px;}

#m_container {position: relative; margin-left:auto; margin-right:auto; width:1006px;}

h1 { padding-left: 35px; position: absolute; top:0px; left: 0px; color: #555a5a; font: 26px Futura Medium, Myriad Pro, Gill Sans, Helvetica, Verdana, Arial, sans-serif; width: 700px; margin: 0px;}

h2 { font-family:Arial; font-size:12pt; color:#0c9090; font-weight:bold; margin-bottom: 5px; line-height:normal; margin-top:0px;}

h3 { font-family:Arial; font-size:11pt; color:#ed8114; font-weight:bold; margin-top:10px; margin-bottom: 5px; line-height:normal; margin-left:0px; }

h4 { font-family:Arial; font-size:12pt; color:#0c9090; font-weight:bold; margin-top:10px; margin-bottom: 12px; line-height:normal; margin-left:0px; }

.homeheader {font-family:Arial; font-size:12pt; color:#ec7c0b; font-weight:bold; margin-bottom: 5px; line-height:normal; margin-top:0px;}

.lower-header {position:relative;top: 0px;left:40px;width:918px;height:150px;margin:0px; padding:0px;}

.med_black {
    font-family:verdana; font-size:10pt; color:#000000;
}

.lower-links {
   font-family:Arial; font-size:8pt; color:#6c6c6c; margin:3px; 
}

.published_links a {
   font-family:Arial; font-size:8pt; color:#6c6c6c; margin:3px; 
}
.published_links a:hover {
   color:#0c9090; text-decoration: none;
}

.req { font-size: 9px; color:Red;}

.form_join {margin-top:2px; padding: 2px; border: solid 0px #000;}

label {width:145px; line-height:20px; float: left; }
.label_lrg {width:130px; line-height:15px; float: left;}
.label_sm {width:90px; line-height:15px; float: left; }

fieldset {position: relative; border:1px solid #cddbf9; padding: 5px 5px 15px 10px; top:15px;}

legend {
  padding: 7px 10px 7px 10px;
  border:1px solid #cddbf9;
  font-size: 14px;
  background-color:#d9ebf8;
  color:#1d6393;
  margin-bottom: 10px;
  margin-left: 10px;
   *position: relative;
   *top: -21px;
   *left:5px;
}

