﻿/* this makes it possible to add next button beside scrollable */
div.scrollable {
	float:left;		
}

/* prev, next, prevPage and nextPage buttons */
a.prev, a.next, a.prevPage, a.nextPage {
	display:block;
	width:18px;
	height:68px;
	background:url(/images/left_arr.gif) no-repeat;
	float:left;
	margin: 5px;	
	cursor:pointer;
	border:0px solid #222;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	/*background-position:0px -18px; */
}

/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
}

/* next button uses another background image */
a.next, a.nextPage {
	background-image:url(/images/right_arr.gif);
	clear:right;	
}


/*********** navigator ***********/

/* position and dimensions of the navigator */
div.navi {
	margin-left:285px;
	width:180px;
	height:20px;
}

/* items inside navigator */
div.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(/images/navigator.png) 0 0 no-repeat;     
	cursor:pointer;	
}

/* mouseover state */
div.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
div.navi a.active {
	background-position:0 -16px;     
} 	

/* root element for the whole scrollable setup */
div.scrollable {  
	position:relative;
	overflow:hidden;
	width: 560px;	 
	height:320px;	
}

/* 
	root element for scrollable items. It is 
	absolutely positioned with large width. 
*/
#thumbs {	
	position:absolute;
	width:20000em;	
	clear:both;
	border:0px solid #222;
}

/* custom positioning for navigational links */
a.prev, a.next {
	margin-top:118px;	
}



/* single item */
#thumbs div {
	float:left;
	width:190px;
	height:310px;
	background:#ffffff;
	color:#fff;
	border-left:0px solid #333;
	cursor:pointer;
}

/* style when mouse is over the item */
#thumbs div.hover {
	background-color:#ffffff;	
}

/* style when element is active (clicked) */
#thumbs div.active {
	background-color:#ffffff;
	cursor:default;
}

#thumbs h3, #thumbs p, #thumbs span {
	margin:13px;		
	font-family:"bitstream vera sans";
	font-size:13px;
	color:#fff;	
}

#thumbs h3 em {
	font-style:normal;
	color:yellow;
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

/* the overlayed element ********************************************************* */
.overlay {
	
	 /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#fff; 
     
    width:675px;     
    min-height:200px; 
    border:4px solid #b1b5b8; 
     
    /* CSS3 styling for latest browsers */ 
    -moz-box-shadow:0 0 90px 5px #7d8992; 
    -webkit-box-shadow: 0 0 90px #7d8992;
    padding: 15px;   
    
}

/* default close button positioned on upper right corner */
.overlay .close {
	background-image:url(/images/close.png);
    position:absolute; 
    right:-15px; 
    top:-15px; 
    cursor:pointer; 
    height:35px; 
    width:35px; 
    border:0px solid #666;
}